<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Sienar Fleet Systems - Star Wars X-Wing Compare</title>
</head>
<body>
<form action="sienarfleetsys/compareShip/" method="post">{% csrf_token %}
<select name="ship1">
{% for obj in object_list %}
	<option value="{{ obj.nome }}">{{ obj.nome }}</option>
{% endfor %}
</select>
<br>
<hr>
<select name="ship2">
{% for obj in object_list %}
	<option value="{{ obj.nome }}">{{ obj.nome }}</option>
{% endfor %}
</select>
<br>
<br>
<input type="submit">
</form>
</body>
</html>